<div class="gallery-container">
      <div class="gallery-items container">

        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-1.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-2.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              12,800</span>
              <span><img src="./assets/images/comment.png" alt="icon">3,100</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-3.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/play.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-4.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-5.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/play.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/play.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-6.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-7.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-8.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span></span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-9.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>



        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-1.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-2.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              12,800</span>
              <span><img src="./assets/images/comment.png" alt="icon">3,100</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-3.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/play.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-4.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-5.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/play.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/play.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-6.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-7.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-8.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span></span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>
        <div class="gallery-item">
          <img class="item-bg" src="./assets/images/icon-9.jpg" alt="">
          <div class="item-inform">
            <div class="item-subinform">
              <span>Today</span>
              <span><img src="./assets/images/like.png" alt="icon">
              128</span>
              <span><img src="./assets/images/comment.png" alt="icon">31</span>
            </div>
            <div class="item-subinform">
              <span>9-08-2016</span>
              <span><img src="./assets/images/like.png" alt="icon">67</span>
              <span><img src="./assets/images/comment.png" alt="icon">22</span>
            </div>
            <div class="item-subinform item-upload">
              <p>Image upload: 11-04-2016</p>
            </div>
          </div>
        </div>


        <div class="button-container">
          <span class="button">LOAD MORE</span>
        </div>
      </div>
    </div>