<div class="header-container">
    <div class="container">
    	<div class="header-logo">
    		<img src="./assets/images/logo.jpg" alt="Logo">
    	</div>
    	<div class="header-inform">
    		<div class="company-name inform-item">
    			<h1 class="name">monblanproject</h1>
    			<p class="start-date">Start on 17-02-2016</p>
    		</div>
    		<div class="company-followers inform-item">
    			<p><span>870</span> posts</p>
    			<p><span>11,787</span> followers</p>
    			<p><span>112</span> following</p>
    		</div>
    		<div class="company-date inform-item">
    			<p>Date</p>
    			<label>
    				<input id="datepicker" placeholder="from">
    			</label>
    			<label>
    				<input id="datepicker1">
    			</label>
    		</div>
    	</div>
    </div>
</div>